.form-login {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.label-header{
    font-size: 26px;
    color: red;
}

.label-title{
    font-size: 14px;
    color: black;
    margin: 1%;
}

.input-title{
    font-size: 20px;
    color: black;
}

.button-center{
    margin: 1%;
    font-size: 14px;
    background: #00e7ff;
    border: 5px;
}

.text-error{
    font-size: 12px;
    color: red;
    margin: 1%;
}
