<form [className]="'form-login'" [formGroup]="loginForm" (ngSubmit)="login()">
    <label [className]="'label-header'" >Login page</label>
    <label [className]="'label-title'" >Email</label>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="email"  formControlName="email" class="input-title" />
    <div *ngIf="submitted && loginForm.controls.email.errors" class="text-error">
      <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
      <div *ngIf="loginForm.controls.email.errors.email">Email must be a valid email address</div>
    </div>

  </mat-form-field>


    <label [className]="'label-title'">Password</label>
  <mat-form-field>
    <input type="password" matInput [(ngModel)]="password"  formControlName="password" class="input-title"   />
    <mat-error *ngIf="loginForm.get('password').errors.required" > Password is required</mat-error>
    <mat-error *ngIf="loginForm.get('password').errors.minlength" > Password must be at least 6 characters</mat-error>
    <!--<div *ngIf="submitted && loginForm.controls.password.errors" class="text-error">-->
      <!--<div *ngIf="loginForm.controls.password.errors.required">Password is required</div>-->
      <!--<div *ngIf="loginForm.controls.password.errors.minlength">Password must be at least 6 characters</div>-->
    <!--</div>-->
  </mat-form-field>

    <button class="button-center" [disabled]="!loginForm.valid">Login</button>
</form>

